{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  General welcome
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome to our Jobcentre
      </h1>
      <p>You can use the free resources and information here to help you search for work or get advice on government benefits.</p>
      <p>If you need any help, please talk to a member of staff.</p>
<form class="form" action="/check-in" method="post">
<button class="govuk-button">Next customer</button>
</form>
    </div>
  </div>

{% endblock %}
