{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  General welcome
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome to our jobcentre
      </h1>
      <p>If you've been paid too much or too little benefits, or have a letter about payments
        you don't understand it's often quicker for you to call 0800 055 6688 to find out why
        it's happened.</p>
      <p>If you can't call yourself then take a seat in the waiting area and someone will
        see you when they are free.</p>

  <form class="form" action="/check-in" method="post">
<button class="govuk-button">Next customer</button>
</form>
    </div>
  </div>

{% endblock %}
