{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Jobcentre plus
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome
      </h1>

      <p class="govuk-body">You can use this computer for free to:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>manage your online accounts with, for example, Universal Credit or employment agencies</li>
          <li>search for and apply for jobs online</li>
          <li>get advice on government benefits and services</li>
          <li>apply for government benefits and services</li>
        </ul>
      <p>You can't use this computer for online gaming, gambling, watching movies or any other entertainment.</p>
      <p>If you misuse or damage this equipment you may have to pay the cost of repair.</p>
      <p>For your own security, remember to sign out of any personal accounts when you're finished.</p>
      <p>We're not responsible for any loss of data or money that results from your use of this machine.</p>
      <p>If you need help or something seems wrong with the machine then ask a member of staff.</p>
      <div class="govuk-form-group">
        <a href="http://imagine-ux.com.temporary-domain.com/mmc-agents/customer-statement.html" role="button" draggable="false" class="govuk-button govuk-!-margin-left-4">
        Agree
      </a>
      </div>
    </div>
  </div>

{% endblock %}
