{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Check in failed
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="text-align: left;">
      <h1 class="govuk-heading-xl" id="result">
        There's a problem
      </h1>
      <p id="details" class="govuk-heading-m">We can't find an appointment using these details.</p>
        <p>If your details are correct and you're sure you have a meeting today, talk to a member of staff.</p>
      <h2 class="govuk-heading-m">What you entered</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Your initials
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['initial-first'] }} {{ data['initial-last'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your appointment time
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['meeting'] }}
          </dd>
        </div>
      </dl>
      </div>
      {% include "includes/warning-dont-leave.html" %}
      <a href="/check-in" class="govuk-button govuk-button--secondary">Try again</a>
      {% include "includes/next-customer-button.html" %}
  </div>
  <script type="text/javascript" src="/public/javascripts/meetingsLookup.js"></script>
{% endblock %}
