{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="text-align: left;">
      <h1 class="govuk-heading-xl" id="result">
        There's a problem
      </h1>
      <p id="details" class="govuk-heading-m">Sorry, we can't check you in for your appointment right now.</p>
      <p>This doesn't mean your appointment has been cancelled.</p>
      <h2 class="govuk-heading-m">What to do next</h2>
      <ol class="govuk-list govuk-list--number">
              <li>Double check you are in the right jobcentre and that your meeting is today.</li>
            <li>Ask a member of staff for help, they should be able to find your appointment manually.</li>
        </ol>
      {% include "includes/warning-dont-leave.html" %}
      {% include "includes/next-customer-button.html" %}
  </div>
  <script type="text/javascript" src="/public/javascripts/meetingsLookup.js"></script>
{% endblock %}
