{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" id="result">
        Please check your details
      </h1>

      <h2 class="govuk-heading-m" id="result">
          This is what you have entered
        </h2>
      <dl class="govuk-summary-list" style="margin-bottom: 60px;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Your initials
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['initial-first'] }} {{ data['initial-last'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your appointment time
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['meeting'] }}
          </dd>
        </div>
      </dl>
      <p class="govuk-heading-m heading-withhint">Is this correct?</p>
      <p class="headerhint">If it is incorrect you will be sent to the start to try again.</p>
      <a href="/check-in/has-meeting/check-in-success" class="govuk-button">Yes</a>
      <a href="/check-in" class="govuk-button govuk-button--warning">No</a>
      <script type="text/javascript" src="/public/javascripts/meetingsLookup.js"></script>
      <script>
      var found = getMeeting(null,null,null);
      if (found[0]) {
        window.location.assign("check-in-success");
      }
      </script>

    </div>
  </div>

{% endblock %}
