{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l" id="result">
      Thank you
      </h1>
      <div class="width">
      <p>We've told your work coach that you want to be seen as soon as possible. You still
      may have to wait until your appointment time if they're currently busy.</p>
      <ol class="govuk-list govuk-list--number">
          <li>Take a seat on the blue sofas.</li>
          <li>Listen for your name to be called.</li>
      </ol>
      </div>
      <div class="width">
      <div class="govuk-inset-text">
        <h3 class="govuk-heading-m">
          Special circumstances
        </h3>
      <p>If you have a good reason why you can't wait, for
        example if you suffer from anxiety, we will try our best to get someone to see you.</p>
        <p>If this applies to you, speak to a member of staff.</p>
        </div>
        </div>
    </div>
    {% include "includes/next-customer-button.html" %}
  </div>
</div>
{% endblock %}
