{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l" id="result">
        Thank you
      </h1>
      <p id="details">We've told your work coach you are here.</p>
      <h2 class="govuk-heading-l">What to do next</h2>
      <div class="width">
        <ol class="govuk-list govuk-list--number">
      <li id="instructions">Take any seat on the blue sofas to your left on the ground floor.</li>
      <li>Listen for someone to call your name.</li>
      </ol>
      </div>
      <p>Please don't leave the job centre before your appointment without telling someone.</p>
    </div>
    {% include "includes/next-customer-button.html" %}
  </div>

  <a href="check-in-fail" class="govuk-back-link fail">See a failed message</a>

{% endblock %}
