{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Day you were born
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="meeting-time" method="post" class="form" id="check-in_form">
        <div class="govuk-form-group check-in-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl">
                What date in {{ data['month'] }} is your birthday?
              </h1>
            </legend>
            <div id="radiosWrapper" class="check-in-radios--invisible fade">
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-1" name="date" type="radio" value="1">
                <label class="govuk-label check-in-radios__label delay" for="date-1">
                  1<sup>st</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-2" name="date" type="radio" value="2">
                <label class="govuk-label check-in-radios__label delay" for="date-2">
                  2<sup>nd</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-3" name="date" type="radio" value="3">
                <label class="govuk-label check-in-radios__label delay" for="date-3">
                  3<sup>rd</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-4" name="date" type="radio" value="4">
                <label class="govuk-label check-in-radios__label delay" for="date-4">
                  4<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-5" name="date" type="radio" value="5">
                <label class="govuk-label check-in-radios__label delay" for="date-5">
                  5<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-6" name="date" type="radio" value="6">
                <label class="govuk-label check-in-radios__label delay" for="date-6">
                  6<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-7" name="date" type="radio" value="7">
                <label class="govuk-label check-in-radios__label delay" for="date-7">
                  7<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-8" name="date" type="radio" value="8">
                <label class="govuk-label check-in-radios__label delay" for="date-8">
                  8<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-9" name="date" type="radio" value="9">
                <label class="govuk-label check-in-radios__label delay" for="date-9">
                  9<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-10" name="date" type="radio" value="10">
                <label class="govuk-label check-in-radios__label delay" for="date-10">
                  10<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                  <input class="govuk-radios__input" id="date-11" name="date" type="radio" value="11">
                  <label class="govuk-label check-in-radios__label delay" for="date-11">
                    11<sup>th</sup>
                  </label>
                </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-12" name="date" type="radio" value="12">
                <label class="govuk-label check-in-radios__label delay" for="date-12">
                  12<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-13" name="date" type="radio" value="13">
                <label class="govuk-label check-in-radios__label delay" for="date-13">
                  13<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-14" name="date" type="radio" value="14">
                <label class="govuk-label check-in-radios__label delay" for="date-14">
                  14<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-15" name="date" type="radio" value="15">
                <label class="govuk-label check-in-radios__label delay" for="date-15">
                  15<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-16" name="date" type="radio" value="16">
                <label class="govuk-label check-in-radios__label delay" for="date-16">
                  16<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-17" name="date" type="radio" value="17">
                <label class="govuk-label check-in-radios__label delay" for="date-17">
                  17<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-18" name="date" type="radio" value="18">
                <label class="govuk-label check-in-radios__label delay" for="date-18">
                  18<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-19" name="date" type="radio" value="19">
                <label class="govuk-label check-in-radios__label delay" for="date-19">
                  19<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-20" name="date" type="radio" value="20">
                <label class="govuk-label check-in-radios__label delay" for="date-20">
                  20<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-21" name="date" type="radio" value="21">
                <label class="govuk-label check-in-radios__label delay" for="date-21">
                  21<sup>st</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-22" name="date" type="radio" value="22">
                <label class="govuk-label check-in-radios__label delay" for="date-22">
                  22<sup>nd</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-23" name="date" type="radio" value="23">
                <label class="govuk-label check-in-radios__label delay" for="date-23">
                  23<sup>rd</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-24" name="date" type="radio" value="24">
                <label class="govuk-label check-in-radios__label delay" for="date-24">
                  24<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-25" name="date" type="radio" value="25">
                <label class="govuk-label check-in-radios__label delay" for="date-25">
                  25<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-26" name="date" type="radio" value="26">
                <label class="govuk-label check-in-radios__label delay" for="date-26">
                  26<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-27" name="date" type="radio" value="27">
                <label class="govuk-label check-in-radios__label delay" for="date-27">
                  27<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-28" name="date" type="radio" value="28">
                <label class="govuk-label check-in-radios__label delay" for="date-28">
                  28<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-29" name="date" type="radio" value="29">
                <label class="govuk-label check-in-radios__label delay" for="date-29">
                  29<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-30" name="date" type="radio" value="30">
                <label class="govuk-label check-in-radios__label delay" for="date-30">
                  30<sup>th</sup>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-eigth">
                <input class="govuk-radios__input" id="date-31" name="date" type="radio" value="31">
                <label class="govuk-label check-in-radios__label delay" for="date-31">
                  31<sup>st</sup>
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
      {% include "includes/start-again-button.html" %}
    </div>
  </div>
  <script>
    var color = window.localStorage.getItem('colorVariant');
    document.getElementById("radiosWrapper").className += " " + color;
  </script>
{% endblock %}
