{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check in at a job centre
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="check-in-early" method="post" class="form" id="check-in_form">
          <div class="govuk-form-group check-in-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-heading-xl">
                  Would you like to be seen early if possible?
                </h1>
              </legend>
              <p>You have more than half an hour until your appointment.</p>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div id="radiosWrapper" class="check-in-radios--invisible fade">
            <div class="check-in-radios__item govuk-grid-column-one-quarter">&nbsp;
            </div>
            <div class="check-in-radios__item govuk-grid-column-one-quarter">
              <input class="govuk-radios__input" id="early-declaration-yes" name="early-declaration" type="radio" value="true">
              <label class="govuk-label check-in-radios__label delay" for="early-declaration-yes">
                Yes
              </label>
            </div>
            <div class="check-in-radios__item govuk-grid-column-one-quarter">
              <input class="govuk-radios__input" id="early-declaration-no" name="early-declaration" type="radio" value="false">
            <label class="govuk-label check-in-radios__label delay" for="early-declaration-no" >
                No
              </label>
            </div>
          </div>
          </fieldset>
        </div>
        </form>
      </div>
    </div>
{% endblock %}
