{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Example - Passing data
{% endblock %}

{% block content %}
<script>
var now = new Date();
var meetingInterval = 5; //set desired time intervals here - the rest will be taken care of
</script>
<script src="/public/javascripts/meetingTimes.js"></script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full fade">

      <div class="buttons fade">
        <div class="text-link--left">
            <a href="/check-in/has-meeting/last-name" class="govuk-back-link">Back</a>
        </div>
        <div class="text-link--right">
          <a href="/check-in" class="govuk-back-link no-arrow">Start again</a>
        </div>
      </div>

      <form action="first-name" method="post" class="form" id="check-in_form">
        <div class="govuk-form-group check-in-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-heading-xl">
                What time is your appointment?
              </h1>
            </legend>
            <div id="radiosWrapper" class="check-in-radios--invisible fade">
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting-2" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting-2" for="meeting-2">
                  <script>myTime(-2);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting-1" name="meeting" type="radio" value="11:10am">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting-1" for="meeting-1">
                  <script>myTime(-1);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting0" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting0" for="meeting0">
                  <script>myTime(0);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting1" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting1" for="meeting1">
                  <script>myTime(1);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting2" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting2" for="meeting2">
                  <script>myTime(2);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting3" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting3" for="meeting3">
                  <script>myTime(3);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting4" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting4" for="meeting4">
                  <script>myTime(4);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting5" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting5" for="meeting5">
                  <script>myTime(5);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting6" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting6" for="meeting6">
                  <script>myTime(6);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting7" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting7" for="meeting7">
                  <script>myTime(7);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting8" name="meeting" type="radio" value="">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting8" for="meeting8">
                  <script>myTime(8);</script>
                </label>
              </div>
              <div class="check-in-radios__item govuk-grid-column-one-quarter">
                <input class="govuk-radios__input" id="meeting9" name="meeting" type="radio" value="Not given">
                <label class="govuk-label check-in-radios__label delay" id="label_meeting9" for="meeting9">
                  Don't know
                </label>
              </div>
            </div>
            <ul class="pagination">
              <li><a id="prev" href="?-1">&#9668; Earlier</a></li>
              <li><a id="next" href="?1">Later &#9658;</a></li>
            </ul>
          </fieldset>
        </div>
      </form>
      
    </div>
  </div>
  <script>
  var color = window.localStorage.getItem('colorVariant');
  document.getElementById("radiosWrapper").className += " " + color;
  if (change[1]) {
  var curPage = parseInt(change[1]);
  var earlier = curPage-1;
  var later = curPage+1;
  document.getElementById("prev").href = "?" + earlier;
  document.getElementById("next").href = "?" + later;
}
  </script>
{% endblock %}
