
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check in for your job centre appointment prototype
    </h1>
    <p>This prototype and design is gospel and what the Data Driven Prototype should be based off.</p>
    <p>Everything in this prototype has been tested and validated with users in a Jobcentre.</p>
    <p><a class="govuk-button" href="/check-in">version: gospel</a></p>

    
  </details>
  <p>List of all the ideas that have been validated in this prototype:</p>
  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Ideas validated
    </span>
  </summary>
  <div class="govuk-details__text">
  <ul class="govuk-list govuk-list--bullet">
    <li>Order of questions; first name, last name, appointment time</li>
    <li>Addition of a cognitive speed bump into surname question</li>
    <li>Position of back and start again links</li>
    <li>Success message, with early prompt for happy path</li>
    <li>Failed to check in message for unhappy paths</li>
  </ul>
  </div>
  </details>  
  </details>

</div>

{% endblock %}
